/*
 * Namf_Communication API
 * This is a AMF Server API.   [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters.
 *
 * OpenAPI spec version: 1.1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.nec.corestudy.smf.Controller.Namf_Communication_API_client.api;

import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiCallback;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiClient;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiException;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiResponse;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.Configuration;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.Pair;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ProgressRequestBody;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFUeContextCreateData;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFUeContextCreateError;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFUeContextCreatedData;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CreateUeContextApi {
    private ApiClient apiClient;

    public CreateUeContextApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CreateUeContextApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for putCreateUEContext
     * @param ueContextId ueContextId. (required)
     * @param ueContextCreateData Defines the UE Context to be created. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call putCreateUEContextCall(String ueContextId, AMFUeContextCreateData ueContextCreateData, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = ueContextCreateData;

        // create path and map variables
        String localVarPath = "/ue-contexts/{ueContextId}"
            .replaceAll("\\{" + "ueContextId" + "\\}", apiClient.escapeString(ueContextId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call putCreateUEContextValidateBeforeCall(String ueContextId, AMFUeContextCreateData ueContextCreateData, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'ueContextId' is set
        if (ueContextId == null) {
            throw new ApiException("Missing the required parameter 'ueContextId' when calling putCreateUEContext(Async)");
        }
        
        // verify the required parameter 'ueContextCreateData' is set
        if (ueContextCreateData == null) {
            throw new ApiException("Missing the required parameter 'ueContextCreateData' when calling putCreateUEContext(Async)");
        }
        

        com.squareup.okhttp.Call call = putCreateUEContextCall(ueContextId, ueContextCreateData, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create UE Context
     * see 29.518 6.1.3.2
     * @param ueContextId ueContextId. (required)
     * @param ueContextCreateData Defines the UE Context to be created. (required)
     * @return AMFUeContextCreatedData
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AMFUeContextCreatedData putCreateUEContext(String ueContextId, AMFUeContextCreateData ueContextCreateData) throws ApiException {
        ApiResponse<AMFUeContextCreatedData> resp = putCreateUEContextWithHttpInfo(ueContextId, ueContextCreateData);
        return resp.getData();
    }

    /**
     * Create UE Context
     * see 29.518 6.1.3.2
     * @param ueContextId ueContextId. (required)
     * @param ueContextCreateData Defines the UE Context to be created. (required)
     * @return ApiResponse&lt;AMFUeContextCreatedData&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AMFUeContextCreatedData> putCreateUEContextWithHttpInfo(String ueContextId, AMFUeContextCreateData ueContextCreateData) throws ApiException {
        com.squareup.okhttp.Call call = putCreateUEContextValidateBeforeCall(ueContextId, ueContextCreateData, null, null);
        Type localVarReturnType = new TypeToken<AMFUeContextCreatedData>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create UE Context (asynchronously)
     * see 29.518 6.1.3.2
     * @param ueContextId ueContextId. (required)
     * @param ueContextCreateData Defines the UE Context to be created. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call putCreateUEContextAsync(String ueContextId, AMFUeContextCreateData ueContextCreateData, final ApiCallback<AMFUeContextCreatedData> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = putCreateUEContextValidateBeforeCall(ueContextId, ueContextCreateData, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AMFUeContextCreatedData>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
