/*
 * Namf_Communication API
 * This is a AMF Server API.   [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters.
 *
 * OpenAPI spec version: 1.1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.nec.corestudy.smf.Controller.Namf_Communication_API_client.api;

import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiCallback;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiClient;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiException;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ApiResponse;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.Configuration;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.Pair;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ProgressRequestBody;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFN1N2MessageData;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFN1N2MessageTransferError;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFN1N2MessageTransferRspData;
import com.nec.corestudy.smf.Controller.Namf_Communication_API_client.model.AMFProblemDetails;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class N1N2MessageTransferApi {
    private ApiClient apiClient;

    public N1N2MessageTransferApi() {
        this(Configuration.getDefaultApiClient());
    }

    public N1N2MessageTransferApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for postN1N2MessageTransfer
     * @param ueContextId ueContextId. (required)
     * @param n1N2MessageData N1N2MessageData. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postN1N2MessageTransferCall(String ueContextId, AMFN1N2MessageData n1N2MessageData, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = n1N2MessageData;

        // create path and map variables
        String localVarPath = "/ue-contexts/{ueContextId}/n1-n2-messages"
            .replaceAll("\\{" + "ueContextId" + "\\}", apiClient.escapeString(ueContextId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postN1N2MessageTransferValidateBeforeCall(String ueContextId, AMFN1N2MessageData n1N2MessageData, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'ueContextId' is set
        if (ueContextId == null) {
            throw new ApiException("Missing the required parameter 'ueContextId' when calling postN1N2MessageTransfer(Async)");
        }
        
        // verify the required parameter 'n1N2MessageData' is set
        if (n1N2MessageData == null) {
            throw new ApiException("Missing the required parameter 'n1N2MessageData' when calling postN1N2MessageTransfer(Async)");
        }
        

        com.squareup.okhttp.Call call = postN1N2MessageTransferCall(ueContextId, n1N2MessageData, progressListener, progressRequestListener);
        return call;

    }

    /**
     * N1 N2 Message Transfer
     * see 29.518 6.1.3.10
     * @param ueContextId ueContextId. (required)
     * @param n1N2MessageData N1N2MessageData. (required)
     * @return AMFN1N2MessageTransferRspData
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AMFN1N2MessageTransferRspData postN1N2MessageTransfer(String ueContextId, AMFN1N2MessageData n1N2MessageData) throws ApiException {
        ApiResponse<AMFN1N2MessageTransferRspData> resp = postN1N2MessageTransferWithHttpInfo(ueContextId, n1N2MessageData);
        return resp.getData();
    }

    /**
     * N1 N2 Message Transfer
     * see 29.518 6.1.3.10
     * @param ueContextId ueContextId. (required)
     * @param n1N2MessageData N1N2MessageData. (required)
     * @return ApiResponse&lt;AMFN1N2MessageTransferRspData&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AMFN1N2MessageTransferRspData> postN1N2MessageTransferWithHttpInfo(String ueContextId, AMFN1N2MessageData n1N2MessageData) throws ApiException {
        com.squareup.okhttp.Call call = postN1N2MessageTransferValidateBeforeCall(ueContextId, n1N2MessageData, null, null);
        Type localVarReturnType = new TypeToken<AMFN1N2MessageTransferRspData>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * N1 N2 Message Transfer (asynchronously)
     * see 29.518 6.1.3.10
     * @param ueContextId ueContextId. (required)
     * @param n1N2MessageData N1N2MessageData. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postN1N2MessageTransferAsync(String ueContextId, AMFN1N2MessageData n1N2MessageData, final ApiCallback<AMFN1N2MessageTransferRspData> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postN1N2MessageTransferValidateBeforeCall(ueContextId, n1N2MessageData, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AMFN1N2MessageTransferRspData>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
